@media (max-width:940px){
    .discover-country{
        font-size: 60px !important;
    }
}
/*  */
@media (max-width:840px){
    .header{
        padding: 25px 60px !important;
    }
}
/* MEDIA 768PX */
@media (max-width:768px){
    .navbar{
        display: none !important;
    }
    .hamburger{
        display: block !important;
    }
    .discover-country{
        font-size: 60px !important;
    }
    .header{
        align-items: initial !important;
    }
}
/* MEDIA 600PX */
@media (max-width:600px){
    .slider-main-title{
        left: 23% !important;
    }
    .discover-country{
        font-size: 50px !important;
    }
    .carousel-button{
        font-size: 3rem !important;
    }
    .secondery-title{
        font-size: 17px;
    }
    .services-section{
        flex-wrap: wrap ;
        justify-content: center;
        gap: 40px;
    }
}
/* MEDIA 320PX */
@media (max-width:320px){
    .discover-country{
        font-size: 25px !important;
    }
    .slide-price-a{
       font-size: 12px !important;
    }
    .carousel-button{
        font-size: 1rem !important;
    }
    .slider-secondery-title{
        bottom: 40% !important;
    }
    .secondery-title{
      font-size: 9px !important;
    }
    .price-bg{
        top: 30% !important;
    }
}