/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 90px;
}
.navbar{
    display: flex;
    gap: 45px;
}
.navbar > li a{
    text-transform: uppercase;
    color: black;
}
/*  */
/* BURGER */
.burgerMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b9ffe1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transform: translateY(-200%);
    transition: transform 0.3s;
    top: 85px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.showMenu {
    transform: translateY(0);
  }
.burger-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.burger-bar >li a{
    text-transform: uppercase;
    color: black;
}
.hamburger{
    position: fixed;
    z-index: 100;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    display: none;
}
.closeIcon{
    display: none;
}
/*  */
/* CAROUSEL */
.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }
  /*  */
  .price-bg-abslt{
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
  }
  .price-bg{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 278px;
    z-index: 1;
}
.price-bg > img{
    width: 100%;
    z-index: 1;
}
.slide-price{
    left: 25%;
    top: 50%;
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
}
.slide-price-a{
    color: #006CD1;
    font-size: 21px;
    text-transform: capitalize;
}
.slider-main-title{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.discover-country{
    font-size: 78px;
    color: white;
    text-transform: capitalize;
}
.slider-secondery-title{
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.secondery-title{
    text-transform: uppercase;
    font-size: 18px;
    color: white;
}
/*  */
.services-section{
    display: flex;
    margin: 75px 95px;
}
.services-overview{
    width: 200px;
    margin-right: 40px;
}
.services-overview > h3{
    margin: 15px 0 0 ;
}
.services-overview > p{
    margin: 25px 0 0;
}
.discover{
    text-transform: uppercase;
    opacity: 0.5;
    color: black;
}
.hot-services{
    color: black;
    text-transform: capitalize;
    font-size: 26px;
}
.overview{
    font-size: 16px;
    color: black;
    opacity: 0.5;
}
/* TRAVEL OPTIONS */

.travel-options-main-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.booking-container{
    width: 265px;
}
.airplane > img{
    cursor: pointer;
    width: 100%;
}
/* MODAL */
.modal{
    position: fixed;
    z-index: 1;
    padding-top: 25px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0 0 0 / 78%);
    display: none;
}
.modal-content{
    margin: auto;
    width: 50%;
    text-align: center;
}
.modal-content > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 25px;
}
.modal-content > p{
    margin: 12px 0 0 25px;
}
/* .modal-content > h3{
    margin: 10px 0 0 25%;
} */
.modal-text {
    color: skyblue;
    font-size: 2rem;
}
.modal-title{
    text-transform: uppercase;
    font-size: 2rem;
    color: aliceblue;
}
/* VIDEO-TOUR */
.video-tour-section{
    position: relative;
}
.video-tour-section > img{
    width: 100%;
}
.video-tour-title{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.video-tour-title > h3{
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.video-tour-title > h2{
    font-size: 2rem;
    color: white;
    text-transform: capitalize;
    margin: 10px 0 0;
}
.image-cover{
    position: absolute;
    padding-top: 25px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0 0 0 / 80%);
}
.entitie{
    color: white;
    text-align: center;
}
/* COUNTER ICONS SECTION */
.counter-icons{
    display: flex;
    justify-content: space-around;
    margin: 50px 0 0;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
}
.counter-cont{
    text-align: center;
}
.counter-cont > ol{
    margin: 10px 0 0;
}
.counter-cont > li{
    font-size: 32px;
}
.counter-cont > h3 {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 5px 0 0;
}
/* POPULAR-TOUR-SECTION */
.popular-tour-section{
    margin: auto;
    max-width: 863px;
}
.popular-tour-title{
    width: max-content;
    margin: auto;
    text-align: center;
    padding: 5% 0 0;
}
.popular-tour-title > h4{
    text-transform: uppercase;
    opacity: 0.5;
}
.popular-tour-title > h3 {
    text-transform: capitalize;
    font-size: 2rem;
}